.root {
  display: flex;
  flex-direction: column;
  margin: 24px 12px;
  min-width: 300px;
  max-width: 300px;
  background-color: #ebecf0 !important;
}

.root:first-child {
  margin-left: 24px;
}

.root:last-child {
  margin-right: 24px;
}

.collapsed {
  min-width: 43px;
  max-width: 43px;
}

.collapsed > .title {
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top 0px;
  justify-content: flex-end;
}

.title {
  display: flex;
}

.title :global(.MuiButton-root) {
  flex-shrink: 0;
  justify-content: flex-start;
  text-transform: none;
  font-weight: 400;
  font-size: 18px;
}

.title :global(.MuiChip-root) {
  margin-left: 8px;
  margin-bottom: -1px;
}

.listContainer {
  flex-grow: 1;
}

:global(.trackYVisible).listContainer {
  width: calc(100% - 8px) !important;
}

.list {
  padding: 12px;
}
