.root {
  display: block !important;
  width: 100%;
}

.root:not(:last-child) {
  margin-bottom: 8px !important;
}

.inner {
  padding: 12px;
  text-align: left;
  background: white;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  border-radius: 4px;
}

.taskColor {
  display: inline-block;
  height: 24px;
  width: 70px;
  border-radius: 16px;
  background-color: currentColor;
}

.dev {
  margin-left: 8px;
}
